main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  margin-left: 2rem;
  height: 200px;
}

h1 {
  margin: 3rem 0 0.2rem 2rem;
}

h2 {
  margin: 0 2rem 2rem 2rem;
}

button {
  margin: 2rem;
}
